@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

main,
footer {
    font-family: "Montserrat";
    color: #3c3549;
}

h1,
h2,
h3,
li {
    font-family: 'Oswald', sans-serif;
}

.footer-link {
    text-decoration: none!important;
    font-weight: bold!important; 
    color: #3c3549!important; 
}


.hero {
    background-image: url("https://cdn.pixabay.com/photo/2014/04/04/21/56/bokeh-313993_1280.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    color: #f8f9fa;
}

.img-thumbnail {
    height: 400px;
    width: 400px;
}

.btn.btn-primary {
    background-color:  #49583c;
    border: none;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:visited {
    background-color:  #49583c;
    opacity: 0.6;
    border: none;
}

.iconLink img{
    width: 36px;
}