@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

main,
footer {
  font-family: "Montserrat", sans-serif;
  color: #333;
}

h1,
h2,
h3,
li {
  font-family: 'Oswald', sans-serif;
}

.footer-link {
  text-decoration: none !important;
  font-weight: bold !important; 
  color: #c6d166 !important;
}

.hero {
  color: #0f1b07;
}

.img-thumbnail {
  height: 400px;
  width: 400px;
}

.btn.btn-primary {
  background-color: #6fbc29;
  border: none;
}

.btn.btn-primary:hover,
.btn.btn-primary:active {
  background-color:  #c6d166;
  border: none;
}